  .hero-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
    color: white;
  }
  .hero-bg-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  
  .hero-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    will-change: opacity;
  }
  
  .bg-back {
    opacity: 1;
  }
  
  .hero-bg.fade-in {
    opacity: 1; 
  }
  .hero-content {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    height: 100%;
    z-index: 2;
  }

  .bg1 {
    background: url("/images/bg1.png") no-repeat center center/cover;
  }
  
  .bg2 {
    background: url("/images/bg2.png") no-repeat center center/cover;
  }
  
  .hero-left {
    flex: 1;
    max-width: 30%;
  }
  
  .plant-name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .plant-desc {
    font-size: 1.4rem;
    opacity: 0.85;
    line-height: 1.6;
  }
  
  .hero-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .plant-img {
    margin-right: 50px;
    height: auto;
  }
  
  .hero-right {
    flex: 1;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .stat {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.5rem;
  }
  
  .label {
    opacity: 0.8;
  }
  
  .value {
    font-weight: 600;
  }
  .hero-nav {
    position: absolute;
    bottom: 140px;
   
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3rem;
    z-index: 5; 
  }
  
  .nav-btn {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    backdrop-filter: blur(6px);
    border-radius: 50%;
    padding: 0.8rem;
    cursor: pointer;
    color: white;
    transition: 0.3s;
  
  }
  
  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: scale(1.1);
  }
  